# Python virtual environment
.venv/
.env
.env.example

.vscode


# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log